.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */

.heading {
  color: black;
  font-family: 'Roboto';
  font-size: 25px;
}

.description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 20px;
}

.image {
  width: 150px;
}
